<%@ Master Language="C#" %>
<%@ Register TagPrefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="wssucmui" TagName="MUISelector" Src="~/_controltemplates/15/MUISelector.ascx" %>
<%@ Register TagPrefix="wssucw" TagName="Welcome" Src="~/_controltemplates/15/Welcome.ascx" %>
<%@ Register TagPrefix="PublishingRibbon" TagName="PublishingRibbon" Src="~/_controltemplates/15/Ribbon.ascx" %>
<%@ Register TagPrefix="SharePointWebControls" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="SearchWC" Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="PublishingNavigation" Namespace="Microsoft.SharePoint.Publishing.Navigation" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<!DOCTYPE html >
<SharePointWebControls:SPHtmlTag lang="en" runat="server" id="SPHtmlTag" dir="&lt;%$Resources:wss,multipages_direction_dir_value%&gt;">
    <head runat="server">
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="0" />
        <SharePoint:RobotsMetaTag runat="server">
        </SharePoint:RobotsMetaTag>
        <SharePoint:PageTitle runat="server">
            <asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">
                <SharePoint:ProjectProperty Property="Title" runat="server">
                </SharePoint:ProjectProperty>
            </asp:ContentPlaceHolder>
        </SharePoint:PageTitle>

        <!-- Custom favicon -->
        <SharePoint:SPShortcutIcon runat="server" IconUrl="/_catalogs/masterpage/favicon.ico" />

        <SharePoint:StartScript runat="server">
        </SharePoint:StartScript>
        <SharePoint:CssLink runat="server" Version="15">
        </SharePoint:CssLink>
        <SharePoint:CacheManifestLink runat="server">
        </SharePoint:CacheManifestLink>
        <SharePoint:PageRenderMode runat="server" RenderModeType="Standard">
        </SharePoint:PageRenderMode>
        <SharePoint:ScriptLink Language="javascript" Name="core.js" OnDemand="true" runat="server" Localizable="false">
        </SharePoint:ScriptLink>
        <SharePoint:ScriptLink Language="javascript" Name="menu.js" OnDemand="true" runat="server" Localizable="false">
        </SharePoint:ScriptLink>
        <SharePoint:ScriptLink Language="javascript" Name="callout.js" OnDemand="true" runat="server" Localizable="false">
        </SharePoint:ScriptLink>
        <SharePoint:ScriptLink Language="javascript" Name="sharing.js" OnDemand="true" runat="server" Localizable="false">
        </SharePoint:ScriptLink>
        <SharePoint:ScriptLink Language="javascript" Name="suitelinks.js" OnDemand="true" runat="server" Localizable="false">
        </SharePoint:ScriptLink>
        <SharePoint:CustomJSUrl runat="server">
        </SharePoint:CustomJSUrl>
        <SharePoint:SoapDiscoveryLink runat="server">
        </SharePoint:SoapDiscoveryLink>
        <SharePoint:AjaxDelta ID="DeltaPlaceHolderAdditionalPageHead" Container="false" runat="server">
            <asp:ContentPlaceHolder ID="PlaceHolderAdditionalPageHead" runat="server">
            </asp:ContentPlaceHolder>
            <SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true">
            </SharePoint:DelegateControl>
            <asp:ContentPlaceHolder ID="PlaceHolderBodyAreaClass" runat="server">
            </asp:ContentPlaceHolder>
        </SharePoint:AjaxDelta>
        <SharePoint:CssRegistration Name="Themable/corev15.css" runat="server">
        </SharePoint:CssRegistration>

        <link href="/_catalogs/masterpage/mobile/css/bootstrap.css" rel="stylesheet" />
        <link href="/_catalogs/masterpage/mobile/css/bootstrap-custom.css" rel="stylesheet" /> 
        
        <link href="/_catalogs/masterpage/page_layout_assets/css/lity.min.css" rel="stylesheet" />        

        <script src="/_catalogs/masterpage/mobile/js/modernizr.2.6.2.custom.min.js" type="text/javascript">//<![CDATA[
        //]]></script>
        
        <!--[if lt IE 9]>
		    <script src="/_catalogs/masterpage/bootstrap3/js/respond.min.js" type="text/javascript">//<![CDATA[//]]></script>
		<![endif]-->
        <script src="/_catalogs/masterpage/mobile/js/jquery-1.12.1.js" type="text/javascript">//<![CDATA[
        //]]></script>
        <%--<script src="/SiteAssets/jquery.min.js" type="text/javascript">//<![CDATA[
        //]]></script>--%>

        <script src="/_catalogs/masterpage/nems/nems.js" type="text/javascript">//<![CDATA[
        //]]></script>

        <script src="/_catalogs/masterpage/mobile/js/bootstrap.min.js" type="text/javascript">//<![CDATA[
        //]]></script>
        <script src="/_catalogs/masterpage/mobile/js/bootstrap-custom.js" type="text/javascript">//<![CDATA[
        //]]></script>

        <script src="/_catalogs/masterpage/mobile/js/Lozzi.Fields.js" type="text/javascript">//<![CDATA[
        //]]></script>

        <script src="/_catalogs/masterpage/page_layout_assets/js/lity.min.js">//<![CDATA[
            //]]></script>

        <script src="/_catalogs/masterpage/page_layout_assets/js/masonry.min.js">//<![CDATA[
            //]]></script>

        <script>
            $(function() {
        
                $(".lity-lightbox").click(function (e) { 
                    e.preventDefault();
                    var value = $(this).attr("href");
                    var lightbox = lity(value);
                }); 
            });
        </script>

    </head>

    <!--body-->
    <body onhashchange="if (typeof(_spBodyOnHashChange) != 'undefined') _spBodyOnHashChange();">

        <!-- TOP BAR AREA -->
		<div id="ocipversionarea" class="ms-dialogHidden"  >
            
            <!-- rbNote - replace this table with divs at some point, leave it for now -->
            <table id="topBarCustom"   >
	    		<tr>

                    <td id="topBarBreadCrumb"  >


					        <div class="ms-breadcrumb-top" style="margin-bottom:5px; ">
						        <div class="ms-breadcrumb-dropdownBox" style="display:inline;">
						        <SharePoint:AjaxDelta id="DeltaBreadcrumbDropdown" runat="server">
							        <SharePoint:PopoutMenu
								        Visible="true"
								        runat="server"
								        ID="GlobalBreadCrumbNavPopout"
								        IconUrl="/_layouts/15/images/spcommon.png?rev=23"
								        IconAlt="<%$Resources:wss,master_breadcrumbIconAlt%>"
								        ThemeKey="spcommon"
								        IconOffsetX="215"
								        IconOffsetY="118"
								        IconWidth="16"
								        IconHeight="16"
								        AnchorCss="ms-breadcrumb-anchor"
								        AnchorOpenCss="ms-breadcrumb-anchor-open"
								        MenuCss="ms-breadcrumb-menu ms-noList ">
								        <div class="ms-breadcrumb-top">
									        <asp:Label runat="server" CssClass="ms-breadcrumb-header" Text="<%$Resources:wss,master_breadcrumbHeader%>" />
								        </div>
								        <asp:ContentPlaceHolder id="PlaceHolderTitleBreadcrumb" runat="server">
								        <SharePoint:ListSiteMapPath
										        runat="server"
										        SiteMapProviders="SPSiteMapProvider,SPContentMapProvider"
										        RenderCurrentNodeAsLink="false"
										        PathSeparator=""
										        CssClass="ms-breadcrumb"
										        NodeStyle-CssClass="ms-breadcrumbNode"
										        CurrentNodeStyle-CssClass="ms-breadcrumbCurrentNode"
										        RootNodeStyle-CssClass="ms-breadcrumbRootNode"
										        NodeImageOffsetX="217"
										        NodeImageOffsetY="210"
										        NodeImageWidth="16"
										        NodeImageHeight="16"
										        NodeImageUrl="/_layouts/15/images/spcommon.png?rev=23"
										        RTLNodeImageOffsetX="199"
										        RTLNodeImageOffsetY="210"
										        RTLNodeImageWidth="16"
										        RTLNodeImageHeight="16"
										        RTLNodeImageUrl="/_layouts/15/images/spcommon.png?rev=23"
										        HideInteriorRootNodes="true"
										        SkipLinkText="" />
										        </asp:ContentPlaceHolder>
							        </SharePoint:PopoutMenu>
						        </SharePoint:AjaxDelta>
						        </div>
					        </div>


				    </td>

				    <td  id="topBarUnclassified" style="padding-left: 10px; " align="left" valign="center" >
                        <div id="suiteUnclassified" ></div>
				    </td>
				    <td  id="topBarLanguage" style="padding-left: 10px; " align="left" valign="center" >
                        <div id="suiteLinksBox"  ></div>
				    </td>
				    <td  id="topBarExtra" >
				    </td>
			    </tr>
		    </table>
		</div>
		<!-- TOP BAR AREA -->

        <!--Form-->
        <SharePointWebControls:SharePointForm onsubmit="if (typeof(_spFormOnSubmitWrapper) != 'undefined') {return _spFormOnSubmitWrapper();} else {return true;}" runat="server">
            <SharePoint:ImageLink runat="server" />
            <SharePoint:SPNoScript runat="server" />
            <SharePoint:SPClientIDGenerator runat="server" ServerControlID="DeltaPlaceHolderMain;DeltaPlaceHolderPageTitleInTitleArea;DeltaPlaceHolderUtilityContent" />
            <WebPartPages:SPWebPartManager runat="Server"/>
            <asp:ScriptManager ID="ScriptManager" runat="server" EnablePageMethods="false" EnablePartialRendering="true" EnableScriptGlobalization="false" EnableScriptLocalization="true" />
            <SharePoint:AjaxDelta ID="DeltaDelegateControls" runat="server">
                <SharePoint:DelegateControl runat="server" ControlId="GlobalNavigation" />
                <SharePoint:DelegateControl ControlId="GlobalSiteLink3" Scope="Farm" runat="server" Visible="false" />
            </SharePoint:AjaxDelta>

            <div id="ms-designer-ribbon">
                <PublishingRibbon:PublishingRibbon runat="server"/>
            </div>

            <SharePoint:SPSecurityTrimmedControl runat="server" AuthenticationRestrictions="AnonymousUsersOnly">
                <wssucw:Welcome runat="server" EnableViewState="false" />
            </SharePoint:SPSecurityTrimmedControl>



<!-- -->
<!-- -->
<!-- -->
<!--s4-workspace-->
<div id="s4-workspace" >

    <!--s4-bodyContainer-->
    <div id="s4-bodyContainer" >

        <!--header-->
        <div role="header" id="header" class="masthead ms-dialogHidden"   >
            
            <!--container-->
            <div class="container"  >

                <div class="row">

                    <div class="col-md-12"  >
                    
                        <div id="s4-titleRow" class="header clearfix"  >

                            <div id="topnavbar" class="navbar navbar-default"   >

                                <div class="navbar-inner float-right" style="background-color: transparent; " >

						            <!--page title-->
								    <div id="pageTitleDiv" class="float-left" style="background-color: transparent;" >
                                        <div class="nems-title"><a class="nems-title-link" href="/SitePages/Pages/NEMS_home.aspx">NEMS</a></div>
                                        <div class="nems-description">National Emergency Management System</div>
					                </div>

                                    <button id="topNavBarButton" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                    <div id="topNavBarDropDownMenu" class="nav navbar-collapse collapse"  >
                                        
                                        <div id="topNavBarDropDownBoxMenuTitle" >Site Menu</div>
                                        
                                        <!--nav snippet-->
                                        <SharePoint:AjaxDelta runat="server" CssClass="ms-core-navigation ms-dialogHidden" BlockElement="True" ID="DeltaTopNavigation">
                                            
                                            <SharePoint:DelegateControl runat="server" ID="topNavigationDelegate" ControlId="TopNavigationDataSource">
                                                <Template_Controls>
                                                    <asp:SiteMapDataSource
                                                        ShowStartingNode="True"
                                                        SiteMapProvider="SPNavigationProvider"
                                                        ID="topSiteMap"
                                                        runat="server"
                                                        StartingNodeUrl="sid:1002"></asp:SiteMapDataSource>
                                                </Template_Controls>
                                            </SharePoint:DelegateControl>

                                            <a name="startNavigation"></a>
                                            <asp:ContentPlaceHolder ID="PlaceHolderTopNavBar" runat="server">
											    <SharePoint:AspMenu runat="server"
                                                    UseSeparateCSS="false"
                                                    AdjustForShowStartingNode="True"
                                                    StaticDisplayLevels="2"
                                                    AccessKey="1"
                                                    SkipLinkText=""
                                                    CssClass="nav-container"
                                                    EnableViewState="False"
                                                    MaximumDynamicDisplayLevels="3"
                                                    UseSimpleRendering="True"
                                                    DataSourceID="topSiteMap"
                                                    Orientation="Horizontal"
                                                    ID="TopNavigationMenu">
                                                </SharePoint:AspMenu>

                                            </asp:ContentPlaceHolder>
                                        </SharePoint:AjaxDelta>

                                        <div id="LeftNavBarBoxMenuTitle" >Navigation Menu</div>


                                        <div id="sideNavBox" class="sidebar-nav ms-dialogHidden ms-forceWrap ms-noList ms-hide ms-hidden">

                                            <SharePoint:AjaxDelta ID="DeltaPlaceHolderLeftNavBar" BlockElement="true" CssClass="ms-core-navigation well" runat="server">
                           
                                                <asp:ContentPlaceHolder ID="PlaceHolderLeftNavBar" runat="server">

							                        <asp:ContentPlaceHolder ID="PlaceHolderLeftNavBarTop" runat="server"></asp:ContentPlaceHolder>
                                                    <asp:ContentPlaceHolder ID="PlaceHolderQuickLaunchTop" runat="server"></asp:ContentPlaceHolder>
                                                    <asp:ContentPlaceHolder ID="PlaceHolderLeftNavBarDataSource" runat="server"></asp:ContentPlaceHolder>
                                                    <asp:ContentPlaceHolder ID="PlaceHolderCalendarNavigator" runat="server"></asp:ContentPlaceHolder>
                                                    <asp:ContentPlaceHolder ID="PlaceHolderLeftActions" runat="server"></asp:ContentPlaceHolder>
                                                    
                                                    <SharePoint:SPNavigationManager ID="QuickLaunchNavigationManager" runat="server" QuickLaunchControlId="v4QuickLaunchMenu" ContainedControl="QuickLaunch" EnableViewState="false">
                                                        <SharePointWebControls:DelegateControl runat="server" ControlId="QuickLaunchDataSource">
                                                            <Template_Controls>
                                                                <PublishingNavigation:portalsitemapdatasource runat="server" ID="SiteMapDS" SiteMapProvider="CurrentNavigation" EnableViewState="false" StartFromCurrentNode="true" ShowStartingNode="false" TrimNonCurrentTypes="Heading"></PublishingNavigation:portalsitemapdatasource>
                                                            </Template_Controls>
                                                        </SharePointWebControls:DelegateControl>

									                    <SharePointWebControls:AspMenu ID="V4QuickLaunchMenu" runat="server" EnableViewState="false" DataSourceID="QuickLaunchSiteMap" UseSimpleRendering="true" Orientation="Vertical" StaticDisplayLevels="3" AdjustForShowStartingNode="true" MaximumDynamicDisplayLevels="2" SkipLinkText=""></SharePointWebControls:AspMenu>
                                                    </SharePoint:SPNavigationManager>

                                                    <SharePoint:SPNavigationManager ID="TreeViewNavigationManagerV4" runat="server" ContainedControl="TreeView" CssClass="ms-tv-box">

                                                        <SharePoint:SPLinkButton runat="server" NavigateUrl="~site/{0}/viewlsts.aspx" ID="idNavLinkSiteHierarchyV4" Text="&lt;%$Resources:wss,treeview_header%&gt;" AccessKey="&lt;%$Resources:wss,quiklnch_allcontent_AK%&gt;" CssClass="ms-tv-header"></SharePoint:SPLinkButton>
                                                        <SharePoint:DelegateControl runat="server" ControlId="TreeViewAndDataSource">
                                                            <Template_Controls>
                                                                <SharePoint:SPHierarchyDataSourceControl runat="server" ID="TreeViewDataSourceV4" RootContextObject="Web" IncludeDiscussionFolders="true"></SharePoint:SPHierarchyDataSourceControl>
                                                                <SharePoint:SPRememberScroll runat="server" ID="TreeViewRememberScrollV4" onscroll="javascript:_spRecordScrollPositions(this);" Style="overflow: auto;">
                                                                    <SharePoint:SPTreeView ID="WebTreeViewV4" runat="server" ShowLines="false" DataSourceID="TreeViewDataSourceV4" ExpandDepth="0" SelectedNodeStyle-CssClass="ms-tv-selected" NodeStyle-CssClass="ms-tv-item" SkipLinkText="" NodeIndent="12" ExpandImageUrl="/{0}/images/tvclosed.png" ExpandImageUrlRtl="/{0}/images/tvclosedrtl.png" CollapseImageUrl="/{0}/images/tvopen.png" CollapseImageUrlRtl="/{0}/images/tvopenrtl.png" NoExpandImageUrl="/{0}/images/tvblank.gif"></SharePoint:SPTreeView>
                                                                </SharePoint:SPRememberScroll>
                                                            </Template_Controls>
                                                        </SharePoint:DelegateControl>
                                                    </SharePoint:SPNavigationManager>

                                                </asp:ContentPlaceHolder>
                                            </SharePoint:AjaxDelta>


                                        </div>
                                        <!--end nav snippet-->
                                    </div>
                                    <!--/nav-->
                                </div>
                                <!--/navbar-inner-->
                            </div>
                            <!--/#topnavbar-->

                        </div>

                        <!--search-->
                        <div id="mobileSearchBox" class="searchbox pull-left">
                            <SharePoint:AjaxDelta id="DeltaPlaceHolderSearchArea" BlockElement="true" CssClass="ms-mpSearchBox ms-floatLeft" runat="server">
                                <asp:ContentPlaceHolder id="PlaceHolderSearchArea" runat="server">
                                    <%--<div id="searchInputBox">--%>
                                        <SharePoint:DelegateControl runat="server" ControlId="SmallSearchInputBox" />
                                    <%--</div>--%>
                                </asp:ContentPlaceHolder>
                            </SharePoint:AjaxDelta>
                        </div>
                        <!--/search-->
                    </div>
                    <!--/tablet 12 col-->
                </div>
                <!--/row-->
            </div> 
            <!--/container-->
        </div> 
        <!--/header -->

		<!-- loading overlay -->
		<div id="cover" >Loading page ...</div>

        <!--main-->
        <div role="main" id="main">

            <!--container-->
            <div class="container">
                <!--page layout-->
                <div class="row">

                    <div id="customPageTitleBox" ></div>
                    <div id="customPageTitleBox-S4" ></div>

                    <div id="mainbody" class="col-md-12" >

                        <div id="customKeyFilterBox" ></div>

                        <SharePoint:AjaxDelta ID="DeltaPlaceHolderMain" IsMainContent="true" runat="server">
                            <asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">
                            </asp:ContentPlaceHolder>
                        </SharePoint:AjaxDelta>

                    </div>
                    <!--/tablet col 9-->

                    <SharePoint:AjaxDelta ID="DeltaFormDigest" BlockElement="true" runat="server">
                        <asp:ContentPlaceHolder ID="PlaceHolderFormDigest" runat="server">
							<SharePoint:FormDigest runat="server" />
                        </asp:ContentPlaceHolder>
                    </SharePoint:AjaxDelta>
                </div>
                <!--/row-->
            </div>
            <!--/container-->
        </div>
        <!--/main-->

        <!--footer-->
        <div id="footer" class="mastfooter ms-dialogHidden">
            <!--container-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <!-- FooterStart -->
                        <div id="footerLink-container">
                            <div id="footerLink-box" class="ms-noList">
                                <div id="footerLink-left">
                                    <div id="test1"></div>
                                    <h4><a class="footerLink-heading" href="/SitePages/AboutNEMS.aspx">About NEMS</a></h4>
                                    <ul>
                                        <li><a class="footerLink-item" href="/SitePages/Purpose.aspx">Purpose</a></li>
                                        <li><a class="footerLink-item" href="/SitePages/SiteConcept.aspx">Site Concept</a></li>
                                        <li><a class="footerLink-item" href="/SitePages/UsingNEMS.aspx">Using NEMS</a></li>
                                    </ul>
                                </div>
                                <div id="footerLink-middle">
                                    <h4><a class="footerLink-heading" href="/SitePages/ContactUs.aspx">Contact us</a></h4>
                                    <ul>
                                        <li><a class="footerLink-item" href="/SitePages/Feedback.aspx">Feedback</a></li>
                                        <li><a class="footerLink-item" href="/SitePages/FunctionalSupport.aspx">Functional Support</a></li>
                                        <li><a class="footerLink-item" href="/SitePages/TechnicalSupport.aspx">TechnicalSupport</a></li>
                                    </ul>
                                </div>
                                <div id="footerLink-right">
                                    <h4><a class="footerLink-heading" href="/SitePages/TermsAndConditions.aspx">NEMS Terms &amp; Conditions</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- FooterEnd -->

                    </div>
                </div>
                <!--/row-->
          </div>   
            <!--/container-->
        </div>
        <!--/footer-->

    </div>
    <!--/s4-bodyContainer-->

</div>
<!--/s4-workspace-->




            <SharePoint:ScriptBlock runat="server">
                var g_Workspace = "s4-workspace";
            </SharePoint:ScriptBlock>

        </SharePointWebControls:SharePointForm>
        <!--/Form-->

        <SharePointWebControls:AjaxDelta ID="DeltaPlaceHolderUtilityContent" runat="server">
            <asp:ContentPlaceHolder ID="PlaceHolderUtilityContent" runat="server" />
        </SharePointWebControls:AjaxDelta>
        <asp:ContentPlaceHolder ID="PlaceHolderTitleAreaClass" Visible="False" runat="server" />
         
<%--    
        <asp:ContentPlaceHolder ID="PlaceHolderTitleBreadcrumb" Visible="False" runat="server" />
        <asp:ContentPlaceHolder id="PlaceHolderSiteName" Visible="False" runat="server" />
--%>

        
		<asp:ContentPlaceHolder ID="PlaceHolderPageDescription" runat="server" Visible="false" />
		<%--<asp:ContentPlaceHolder ID="PlaceHolderSearchArea" runat="server" Visible="false" />--%>
        <asp:ContentPlaceHolder ID="PlaceHolderPageTitleInTitleArea" runat="server" Visible="false" />		
        <asp:ContentPlaceHolder ID="PlaceHolderGlobalNavigationSiteMap" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderGlobalNavigation" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderHorizontalNav" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderPageImage" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderTitleLeftBorder" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderMiniConsole" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderTitleRightMargin" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderTitleAreaSeparator" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderNavSpacer" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderLeftNavBarBorder" Visible="true" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderBodyLeftBorder" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderBodyRightMargin" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="WSSDesignConsole" Visible="False" runat="server" />
        <asp:ContentPlaceHolder ID="SPNavigation" Visible="False" runat="server" />

    </body>
    <!--/body-->
</SharePointWebControls:SPHtmlTag>
